<%= form_with(model: @blog ,local:true ,url:new_or_edit )do |form| %>
  <div class = "container">
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2 class="form_error"><%= @blog.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li class="form_error"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "blog_content">
      <%= form.label :Tweet %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit "投稿" %>
  </div>
<% end %>